.contenedor404 img{
	width: 100%;
}

.errortexto{
	color: #fff;
	text-decoration: none;
}
.contenedor404btn{
	position: absolute;
	top: 60%;
	width: $width;
	text-align: center;

}
.errortexto:hover{
	color: #fff;}